* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --brand-colors-explorer-dark: #065e7c;
  --platform-aliases-shape-principal: #202024;
}

body,
input,
input::placeholder,
button {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
}

.container {
  padding: 0 2.2rem;
}

header,
footer {
  background: var(--brand-colors-explorer-dark);
}

header.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  justify-content: space-between;
  padding: 1.2rem 2.2rem;
}

header img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

header form,
header form .input-wrapper {
  width: 100%;
}

header form label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

header form input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 0.4rem;
  border: none;
  background-color: hsla(195, 46%, 40%, 1);

  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

header form input::placeholder {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

main {
  margin-bottom: 3.4rem;
}

main .cover-image {
  width: 100%;
  object-fit: cover;
}

main .main-header {
  margin: 3.1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: start;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%;
}

main .main-header .rating-buttons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

main .main-header .rating-buttons button {
  width: 4rem;
  height: 4rem;
  background: var(--brand-colors-explorer-dark);
  padding: 1.2rem;
  border: none;
  border-radius: 50%;
}

main .main-header .text {
  color: var(--platform-aliases-background);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}

footer {
  padding: 1.6rem;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

section img {
  width: 10px;
}

@media (min-width: 1024px) {
  .container {
    padding: 0;
  }

  body {
    display: grid;
    grid-template-areas:
      'header header header'
      'main main section'
      'footer footer footer';
    gap: 3.4rem;
  }

  header.container {
    grid-area: header;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    justify-content: space-between;
    padding: 1.2rem 11.2rem;
  }

  main {
    grid-area: main;
    padding-left: 11.2rem;
  }

  main .cover-image {
    width: 100%;
    border-radius: 0.5rem;
  }

  main .main-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  section.container {
    grid-area: section;
    padding-right: 11.2rem;
  }

  footer {
    grid-area: footer;
  }
}
